doctype html
html(lang="en")
	head
		title
			| Fullstact Exam
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="/js/app/angular.js")
		script(src="/js/app/angular-route.js")
		script(src="/js/app/angular-resource.js")
		script(src="/js/app/app.js")
	body(ng-app="peopleApp")
		.container
			.row
				.col-md-8.col-md-push-2
					h2.text-center People App
					div(ng-controller="addCtrl")
						br
						form(ng-submit="submitPerson()")
							.panel.panel-default
								.panel-body
									.row
										.col-md-3
											input.form-control(ng-model="personFirstName", placeholder="First name")
										.col-md-3
											input.form-control(ng-model="personLastName", placeholder="Last name")
										.col-md-3
											input.form-control(ng-model="personContact", placeholder="Contact number")
										.col-md-3
											input.btn.btn-primary.btn-block(value="Add", type="submit")
										.col-md-12(ng-if="formError")
											br
											.alert.alert-danger.text-center(ng-bind="formError")
					div(ng-view)