<br> 
<div class="jumbotron">
  <h1>{{personDetail.first_name}} {{personDetail.last_name}}</h1>
  <p><i class="glyphicon glyphicon-earphone"></i> {{personDetail.contact_number}}</p>
  <p class="clearfix">
  	<a class="btn btn-default btn-lg" href="/#/" role="button">
  		<i class="glyphicon glyphicon-chevron-left"></i> Back
  	</a>
  	<a class="btn btn-primary btn-lg" href="/#/people/{{personDetail._id}}/edit" role="button">
  		<i class="glyphicon glyphicon-edit"></i> Edit
  	</a>
  	<a class="btn btn-danger btn-lg pull-right" ng-click="deletePerson(personDetail._id)" role="button">
  		<i class="glyphicon glyphicon-trash"></i> Delete
  	</a>
  </p>
</div>