<h4>Edit Person Details</h4>
<form ng-submit="savePerson()" class="well">
	<p>
		Firstname
		<input type="text" name="name" ng-model="personDetail.first_name" class="form-control">
	</p>
	<p>
		Lastname
		<input type="text" name="name" ng-model="personDetail.last_name" class="form-control">
	</p>
	<p>
		Contact Number
		<input type="text" name="name" ng-model="personDetail.contact_number" class="form-control">
	</p>

	<div class="alert alert-success" ng-if="formSuccess">{{formSuccess}}</div>
	<div class="alert alert-danger" ng-if="formError">{{formError}}</div>

	<p class="clearfix">
		<input type="submit" value="Save Changes" class="btn btn-primary">
		<a class="pull-right btn btn-default" ng-click="cancelEdit()" role="button">
	  		<i class="glyphicon glyphicon-chevron-left"></i> Back
	  	</a>
	</p>
</form>