<ul class="list-group">
	<li class="list-group-item" ng-repeat="person in people">
		<h4 class="list-group-item-heading">
			<a href="/#/people/{{person._id}}" class="pull-right">View</a>
			{{person.first_name}} {{person.last_name}}	
		</h4> 
	</li>
</ul>